*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

.Navbar {
  display: flex;
   /*   flex-wrap: wrap; add to check for all display*/
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 1rem 2rem;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f5c518; /* IMDb-style yellow */
}

.menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #f5c518;
}
.Titleimg{
  position: relative;
  width: 100%;
  max-height: 800px;
  overflow: hidden;
}
.Titleimg img{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.Titleimgtext{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);  
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}


/* Cards of The movie

.card img{
  margin: 5%;
  height: 400px;
  max-height: auto;
  border-radius: 2rem;
}
  */

.Trend{
  display: flex;
  justify-content: center;
  margin: 2%;
}  

.container{
  width: 30vh;
  height: 50vh;
}

.card img{
  display: inline-block;
  width: 250px;
  border-radius: 2rem;
  margin-left: 2%;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease;
  gap: 2%;
}

.card img:hover{
  transform: scale(1.2);
}

.moviecontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


