*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 1rem 2rem;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f5c518; /* IMDb-style yellow */
}

.menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #f5c518;
}

.Titleimg img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 800px;

}

